.button {
  width: 154px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #ff9100;
  min-width: 90px;
  text-align: center;
  padding: 12px 0;
  border-radius: 0.25rem;
  display: inline-block;
}

a:hover {
  background-color: #ff7800;
}

header {
  height: 70px;
  box-shadow: 0 2px 4px 0 #b5b5b5;
  background-color: #fff;
  position: relative;
  z-index: 2;
  width: 100%;
}

header div {
  max-width: 1440px;
  margin: 0 auto;
}

header div img {
  margin: 22px 0 22px 120px;
}

.main_1 {
  background-color: #ffeedf;
  position: relative;
  height: 310px;
  margin-bottom: 30px;
}

.main_1 .content_bg {
  background-image: url(../image/home_top_bg.png);
  position: absolute;
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: 1440px;
  zoom: 1;
}

.main_1 .content_bg div {
  text-align: center;
  padding-top: 90.5px;
}

.main_1 .content_bg div h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #292929;
  margin-bottom: 20px;
}

.main_1 .content_bg div p {
  font-size: 16px;
  text-align: center;
  color: #292929;
  line-height: 1.5;
  margin-bottom: 42px;
}

.main_1 .content_bg div p span {
  font-weight: bold;
}

.main_2 {
  width: 940px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.main_2 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main_2 .main_2_content {
  display: flex;
  justify-content: center;
  padding-bottom: 82px;
}

.main_2 .main_2_content div {
  margin: 0 12px;
  font-size: 14px;
  color: #292929;
}

.main_2 .main_2_content div::before {
  font-size: 14px;
  width: 24px;
  height: 19px;
  background-color: #f3f3f3;
  display: inline-block;
  padding-top: 5px;
  border-radius: 50%;
  margin-right: 6px;
}

.main_2 .main_2_content div:nth-child(1)::before {
  content: "1";
}

.main_2 .main_2_content div:nth-child(2)::before {
  content: "2";
}

.main_2 .main_2_content div:nth-child(3)::before {
  content: "3";
}

.main_3 {
  padding-top: 80px;
  width: 940px;
  margin: 0 auto;
}

.main_3 h2 {
  font-size: 24px;
  text-align: center;
  color: #292929;
  margin-bottom: 32px;
  font-weight: bold;
}

.main_3 .main_3_content {
  background-image: url(../image/product_features_bg.png);
  height: 420px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 1px;
}

.main_3 .main_3_content div {
  float: right;
  width: 336px;
  margin-top: 82px;
}

.main_3 .main_3_content dl dt {
  font-size: 18px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 8px;
}

.main_3 .main_3_content dl dd {
  font-size: 16px;
  color: #292929;
  margin-bottom: 32px;
  line-height: 1.5;
}

.main_4 {
  background-color: #ffeedf;
}

.main_4 .main_4_content {
  width: 940px;
  margin: 0 auto;
  padding: 80px 0 40px;
}

.main_4 .main_4_content h2 {
  font-size: 24px;
  text-align: center;
  color: #292929;
  font-weight: bold;
}

.main_4 .main_4_content .main_4_characteristic {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main_4 .main_4_content .main_4_characteristic .block {
  width: 240px;
  text-align: center;
  margin: 0 24px 40px;
}

.main_4_characteristic .block .title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #292929;
  margin: 24px 0 8px;
}

.main_4_characteristic .block p {
  font-size: 16px;
  text-align: center;
  color: #292929;
  line-height: 1.5;
}

.main_5 {
  text-align: center;
  padding: 48px 0;
  position: relative;
}

.main_5 h2 {
  text-align: center;
  color: #292929;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.5;
}

.main_5 p {
  font-size: 16px;
  text-align: center;
  color: #292929;
  line-height: 1.7;
}

.main_5 p span {
  font-weight: bold;
}

.main_5 .button {
  margin-top: 42px;
}

.main_5 .ball {
  position: absolute;
  border-radius: 50%;
  left: 50%;
}

.main_5 .ball_1 {
  width: 5px;
  height: 5px;
  background-color: #ffeedf;
  margin-left: -133px;
  top: 66px;
}

.main_5 .ball_2 {
  width: 4px;
  height: 4px;
  background-color: #00cad0;
  margin-left: -220px;
  top: 81px;
}

.main_5 .ball_3 {
  width: 8px;
  height: 8px;
  background-color: #ffeedf;
  margin-left: -140px;
  top: 146px;
}

.main_5 .ball_4 {
  width: 4px;
  height: 4px;
  background-color: #ffc400;
  margin-left: 14px;
  top: 223px;
}

.main_5 .ball_5 {
  width: 4px;
  height: 4px;
  background-color: #00cad0;
  margin-left: 108px;
  top: 126px;
}

.main_5 .ball_6 {
  width: 8px;
  height: 8px;
  background-color: #ffeedf;
  margin-left: 148px;
  top: 161px;
}

.main_5 .ball_7 {
  width: 5px;
  height: 5px;
  background-color: #ffc400;
  margin-left: 230px;
  top: 77px;
}

.main_6 {
  background-color: #ddd;
  background-image: url(../image/footer_bg.png);
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: center 3px;
  background-size: 1440px;
  zoom: 1;
  text-align: center;
}

.main_6 h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #7e7e7e;
  padding-top: 68px;
  line-height: 1.5;
}

.main_6 p {
  font-size: 16px;
  text-align: center;
  color: #7e7e7e;
  line-height: 1.5;
  margin-top: 12px;
}